{{ partial "header.html" . }}

<div class="parallax">
    <div class="content-container">
        <div class="row">
            {{ range .Pages }}
            <div class="col-xs-12 col-sm-6">
                <div class="article">
                    <div class="article-content">
                        <h2>{{ .Title}}</h2>
                        <p>
                            {{ .Content}}
                        </p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>


{{ partial "footer.html" . }}